html,
body,
#mapContainer {
    height: 100%;
    margin: 0;
}

#overlay {
    font-family: sans-serif;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: #ccc;
    padding: 15px;
    border-radius: 5px;
    max-width: 400px;
}


h3 {
    margin-top: 0;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
